<%- include('common/header') %>

<h1>出席管理アプリ</h1>
<h2>イベント作成</h2>
<form action="/group/<%= groupId %>/date" method="post">
  <table>
    <tr>
      <th><label for="date">日付</label></th>
      <td><input type="date" name="date"></td>
    </tr>
    <tr>
      <th><label for="otherInfo">その他情報</label></th>
      <td><textarea name="otherInfo" cols="30" rows="10"></textarea></td>
    </tr>
  </table>
  <button type="submit">イベント作成</button>
</form>

<%- include('common/footer') %>